body {
    background-color: rgb(54, 56, 77);
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
  }
  
  @font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
  }
  
  .container {
    padding-top: 40px;
    width: 440px;
    height: 480px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    align-items: flex-start;
    margin: 300px auto;
    border-radius: 6%;
    padding-left: 70px;
  }
  
  .paraContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-family: Roboto-Regular;
    color: hsl(234, 29%, 20%);
    justify-content: space-between;
  }
  
  .paraContainer p {
    margin: 0px 0;
  }
  .pEmail{
    font-family: Roboto-Bold;
  }
  .container img {
    height: 60px;
  }
  
  .container button {
    border-radius: 10px;
    width: 374px;
    height: 60px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 16px;
    font-family: Roboto-Bold;
  }
  
  .container .headerContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container .headerContainer h1 {
    font-family: Roboto-Bold;
    font-size: 60px;
    color: hsl(234, 29%, 20%);
    margin-right: 0; /* Remove the previous margin-right property */
    margin-left: 0px; /* Add a new margin-left property to shift the text slightly to the left */
    margin: 0;
  }
  
  .container .headerContainer .imageContainer {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 375px) {
    body{
        background-color: #ffffff;
        margin: 0;
    }
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-right: 50px;
        align-items: flex-start;
        padding-top: 100px;
        padding-left: 20px;
    
    }
    .container .headerContainer h1{
    font-size: 50px;
    }
    .paraContainer{
        font-size: 14px;
    }
    .container button{
        margin-top: 200px;
        width: 314px;
        height: 60px; 
    }



.paraContainer.toggle p:nth-child(3),
.paraContainer.toggle p:nth-child(4) {
  display: none;
}




  }